@font-face {
    font-family: vietBold;
    src: url(BeVietnamPro/BeVietnamPro-Bold.ttf);
}

@font-face {
    font-family: vietMedium;
    src: url(BeVietnamPro/BeVietnamPro-Medium.ttf);
}

@font-face {
    font-family: vietReg;
    src: url(BeVietnamPro/BeVietnamPro-Regular.ttf);
}

:root {
    /* typography */
    --vbold: vietBold;
    --vmed: vietMedium;
    --vreg: vietReg;

    /* color */
    --Bright-Red: hsl(12, 88%, 59%);
    --Bright-Red-Hover: hsl(12, 72%, 79%);
    --Dark-Blue: hsl(228, 39%, 23%);
    --Dark-Blue-Shadow: hsla(228, 39%, 23%, 0.63);
    --Dark-Grayish-Blue: hsl(227, 12%, 61%);
    --Very-Dark-Blue: hsl(233, 12%, 13%);
    --Very-Pale-Red: hsl(13, 100%, 96%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    resize: none;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    width: 100%;
    min-height: 100vh;
    /* padding-top: 3rem; */
    overflow: hidden;
    overflow-y: scroll;
}

.firstbgCon, .secondbgCon {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    overflow: hidden;
}

.secondbgCon {
    height: 150vh;
}

.firstbg, .secondbg {
    position: absolute;
}

.firstbg {
    right: -15%;
    top: -30%;
}

.secondbg {
    bottom: -90px;
    left: -570px;
}

.master, .simplify, .wrapper, .uniqWrapper, .conInfo {
    width: 90%;
    margin: auto;
    max-width: 1100px;
}

.master {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}

.logoCon {
    display: grid;
    place-items: center;
}

.compass {
    width: 50%;
}

.compass .coordinates {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.coordinates .point {
    white-space: nowrap;
}

.point a {
    text-decoration: none;
    font-family: var(--vreg);
    font-size: 15px;
    color: var(--Dark-Blue);
}

.point a:hover {
    color: var(--Dark-Grayish-Blue);
}

.getStarted {
    border: none;
    outline: none;
    padding: 12px 17px;
    background-color: var(--Bright-Red);
    border-radius: 40px;
    color: var(--Very-Light-Gray);
    font-family: var(--vmed);
    cursor: pointer;
    box-shadow: 0 5px 5px 0 var(--Dark-Blue-Shadow);
}

.menu {
    display: none;
}

.getStarted:hover {
    background-color: var(--Bright-Red-Hover);
}

/* the main */
.condiments {
    margin-top: 4rem;
}

.conInfo, .services {
    display: flex;
    align-items: stretch;
    min-height: 200px;
}

.conTitle {
    width: 50%;
    min-height: 100%;
    padding: 5rem 1rem 0 1rem;
}

.conTitle .conHead {
    font-family: var(--vbold);
    color: var(--Dark-Blue);
    font-size: 3rem;
    width: 85%;
}

.conTitle .summary {
    margin-top: 1.7rem;
    color: var(--Dark-Grayish-Blue);
    width: calc(100% - 130px);
    font-family: var(--vmed);
    text-align: justify;
}

.conTitle .getStarted {
    margin-top: 50px;
}

.conPictorial {
    width: 50%;
}

.between {
    display: none;
}

.conPictorial .conInfoPic {
    width: 100%;
}

.services {
    margin-top: 4rem;
    position: relative;
}

.uniqWrapper {
    display: flex;
    align-items: stretch;
}

.uniqueness, .uniqServices {
    width: 50%;
}

h2 {
    color: var(--Dark-Blue);
    font-size: 2.2rem;
    font-family: var(--vbold);
    width: 90%;
}

.uniqueness .summary {
    margin-top: 1.7rem;
    color: var(--Dark-Grayish-Blue);
    width: calc(100% - 200px);
    font-family: var(--vmed);
    /* text-align: justify; */
}

.uniqBloq {
    margin-bottom: 25px;
}

.detCon {
    display: flex;
    align-items: center;
    gap: 10px;
}

.uniqBloq .num {
    padding: 12px 26px;
    background-color: var(--Bright-Red);
    border-radius: 40px;
    color: var(--Very-Light-Gray);
    font-family: var(--vmed);
}

h4 {
    color: var(--Dark-Blue);
    font-family: var(--vmed);
}

.dSum {
    margin-top: 10px;
    color: var(--Dark-Grayish-Blue);
    font-family: var(--vreg);
    padding-left: 80px;
}

.reviews {
    margin-top: 4rem;
}

.sliderCon {
    margin: 50px auto 0 auto;
    width: 100%;
    min-height: 200px;
}

.rTitle {
    text-align: center;
}

.slider {
    width: 100%;
    max-width: 90%;
    margin: auto;
    white-space: nowrap;
    overflow: hidden;
}

.sReview {
    width: calc(100%/3);
    display: inline;
    white-space: normal;
    text-align: center;
    background-color: var(--Very-Light-Gray);
    padding: 20px 0;
    border: none;
    outline: none;
    transform: translateY(100%);
    transition: .5s .3s;
}

.showReview {
    transform: translateY(0%);
}

.profileImage img {
    width: 75px;
}

.profileImage {
    text-align: center;
}


.currentReview {
    display: none;
}

.circle {
    width: 10px;
    height: 10px;
    border: 2px solid var(--Bright-Red);
    border-radius: 50%;
    display: none;
}


.quote {
    margin-top: 30px;
    display: block;
    font-size: 13.4px;
    font-family: var(--vreg);
    color: var(--Dark-Grayish-Blue);
}

.reviews .getStarted {
    margin: 75px auto 0 auto;
    display: block;
}

.teamwork {
    background-color: var(--Bright-Red);
    height: 200px;
    position: relative;
    margin-top: 130px;
    overflow: hidden;
}

.teamwork img {
    position: absolute;
    z-index: 0;
    opacity: 0.3;
    transition: .7s;
}

.tpicone {
    width: 500px;
    top: -190%;
    right: -23%;
    transform: translateY(100%);
}

.tpictwo {
    width: 40%;
    top: -10%;
    left: 10%;
    transform: translateY(-100%);
}

/* classes to show picture */
.showPic {
    transform: translate(0%);
}
.anime {
    animation: rotate 5s linear infinite;
}
/* animation */
@keyframes rotate {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}

.simplify {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    position: relative;
    z-index: 1;
}

.simpTitle {
    color: white;
    width: 40%;
    font-family: var(--vbold);
}

.simplify .getStarted {
    background-color: white;
    color: var(--Bright-Red);
    box-shadow: none;
    display: block;
}

.slave {
    height: 230px;
    background-color: var(--Very-Dark-Blue);
}

.wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.endLogo, address, .emailing {
    height: 150px;
}

.endLogo, .emailing {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.social {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social a:hover {
    color: var(--Bright-Red);
}

address {
    width: 30%;
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
}

address div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

address div:nth-of-type(2) {
    justify-content: flex-start;
    gap: 25px;
}

address div a {
    color: white;
    font-style: normal;
    font-family: var(--vreg);
    text-decoration: none;
}

address div a:hover {
    color: var(--Bright-Red);
}

.emailing {
    width: 30%;
    text-align: right;
}

.form {
    display: flex;
    align-items: center;
}

.form #email {
    border: none;
    outline: none;
    font-family: var(--vmed);
    border-radius: 30px;
    font-size: 14px;
    color: var(--Bright-Red);
    padding: 5px 10px;
    width: 70%;
}

.form #submit {
    padding: 7px 15px;
    background-color: var(--Bright-Red);
    color: white;
    font-family: var(--vreg);
    border: none;
    outline: none;
    border-radius: 30px;
    cursor: pointer;
    width: 30%;
}

.copyright {
    color: var(--Dark-Grayish-Blue);
    font-family: var(--vmed);
}

.alert {
    color: var(--Bright-Red);
    text-align: left;
    font-family: var(--vmed);
    font-size: 14px;
}

body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-track{
    background-color: var(--Very-Pale-Red);
    border-radius: 10px;
}

body::-webkit-scrollbar-track:active {
    background-color: var(--Bright-Red);
}

body::-webkit-scrollbar-thumb {
    width: 13px;
    background-color: var(--Very-Pale-Red);
    border: solid 1px var(--Very-Pale-Red);
    border-radius: 10px;
}

body::-webkit-scrollbar-button {
    height: 10px;
    background-color: var(--Bright-Red);
    border-radius: 50%;
}

.closemenu {
    display: none;
}

.mobileMenu {
    display: none;
}


/******** MEDIA ************/
/* MAX WIDTH OF 375PX */
@media (max-width: 768px) {
    .sReview {
        width: calc(100%/1)
    }
    .mobileMenu {
        position: fixed;
        transition: .7s 1s;
        z-index: 5;
        display: block;
        width: 100%;
        height: 100vh;
        transform: translateX(-100%);
        background: linear-gradient(rgba(255, 255, 255, 0.521), var(--Dark-Blue-Shadow));
    }
    .closemenu {
        position: fixed;
        right: 35px;
        top: 22px;
        display: block;
    }
    .direction {
        width: 90%;
        margin: auto;
        background-color: var(--Very-Light-Gray);
        height: 300px;
        padding: 30px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 100px;
    }
    .path {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    .path .link a {
        text-decoration: none;
        font-family: var(--vmed);
        color: var(--Dark-Blue);
    }
    .conTitle {
        width: 100%;
        padding-top:  0;
    }
    .secondbgCon {
        display: none;
    }
    .firstbg {
        right:  -100px;
        top: -5px;
        width:  400px;
    }
    .compass {
        display: none;
    }
    .getStarted {
        display: none;
    }
    .menu {
        display: block;
    }
    .conInfo {
        flex-direction: column-reverse;
        position: relative;
        padding-bottom: 150px;
        overflow: hidden;
    }
    .conTitle .conHead {
        width: 100%;
        text-align: center;
        font-size: 2.2rem;
    }
    .conTitle .summary {
        margin-top: 1.4rem;
        width: 100%;
    }
    .conTitle .getStarted {
        display: block;
        margin: 50px auto 0 auto;
    }
    .conPictorial {
        width: 100%;
    }
    .between {
        display: block;
        position: absolute;
        width: 300px;
        bottom: 40px;
        z-index: -1;
        right: -150px;
    }
    .services {
        margin-top: 0;
    }
    .uniqWrapper {
        display: block;
    }
    .uniqueness, .uniqServices {
        width: 100%;
    }
    .uniqHead {
        text-align: center;
        width: 80%;
        margin: auto;
        font-size: 1.5rem;
    }
    .uniqueness .summary {
        width: calc(89% + 40px);
        margin: 1.3rem auto;
        text-align: center;
    }
    .uniqBloq {
        margin-bottom: 10px;
    }
    .detCon {
        gap: 0;
    }    
    .dTitle {
        background-color: var(--Very-Pale-Red);
        padding: 10px 0 10px 20px;
        width: 100%;
        
    }
    .uniqWrapper {
        width: 100%
    }
    .uniqBloq .num {
        transform: translateX(10px);
    }
    .dSum {
        padding-left: 0;
        width: 95%;
        margin: 10px auto;
        font-size: 14px;
    }
    .rTitle {
        font-size: 1.5rem;
    }
    .slider {
        width: 350%;
        margin: 0 40px;
        gap: 20px;
    }
    .currentReview {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin-top: 40px;
    }
    .teamwork {
        margin-top: 75px;
        height: 300px;
        display: grid;
        place-items: center;
    }
    .tpicone {
        top: 40px;
        left: -100%
    }
    .tpictwo {
        display: none;
    }   
    .simplify {
        flex-direction: column;
        height: auto;
    }
    .simpTitle {
        width: 80%;
        font-size: 2rem;
        text-align: center;
        margin-bottom: 30px;
    }
    .slave {
        height: 400px;
    }
    .wrapper {
        flex-direction: column-reverse;
        position: relative;
        padding: 20px 0;
    }
    .endLogo {
        justify-content: space-evenly;
    }
    .endLimage {
        width: 200px;
        margin: auto;
    }
    .social {
        justify-content: space-evenly;
        gap: 10px;
    }   
    .alert {
        margin-left: 40px;
    }   
    .copyright {
        position: absolute;
        bottom: 20px;
        left: 0;
        width: 100%;
        text-align: center;
    }
    .form #submit {
        padding: 3px 8px;
        width: 20%;
        margin-left: 10px;
    }
    .emailing {
        width: 70%;
        height: auto;
        margin-bottom: 30px;
    }
    .form {
        width: 80%;
        margin: auto;
    }
    address {
        margin-bottom: 30px;
    }
    .endLogo {
        flex-direction: column-reverse;
    }
    .endLogo, address, .emailing {
        width: 100%;
    }
    .reviews {
        margin-top: 3rem;
    }
    .currentReview {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    .circle {
        display: block;
        transition: .7s .4s;
    }
}
/*** classes ***/
.show {
    transform: translateX(0%);
}
.active {
    background-color: var(--Bright-Red);
    transform: translateY(20px);
}